{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block body %}
    <a href="#" onclick="document.searchform.submit();return false;">search</a>
    <form name=searchform class=searchform action="{{ url_for('issues') }}" method=post style="display: inline;">
        <input type="date" name="startdate" value="{{search.startdate}}"/> -
        <input type="date" name="enddate" value="{{search.enddate}}"/>
    </form>
    {% if epics|length > 0 or stories|length > 0 %}
        |  <a href="{{ url_for('issuescsv') }}" xmlns="http://www.w3.org/1999/html">csv</a>
    {% endif %}
    <hr>
    Total Hours: {{"%0.2f" % (total_hours / 3600)|float}}
    <hr>
    <div class="table">
        <div class="headerrow">
            <div class="cell">Epic</div>
            <div class="cell">Status</div>
            <div class="cell" align="right">Hours</div>
            <div class="cell">Version</div>
            <div class="cellwrap">Summary</div>
        </div>

        {% if epics|length > 0 %}
            {% for epic in epics %}
                <div class="row">
                    <div class="cell"><a href="{{ url_for('epic', id=epic.epickey) }}">{{epic.epickey}}</a></div>
                    <div class="cell">{{epic.epicstatus}}</div>
                    <div class="cell" align="right">{{'{0:0.2f}'.format(epic.epictime / 3600)}}</div>
                    <div class="cell">{{epic.epicfixversion}}</div>
                    <div class="cellwrap">{{epic.epicsummary}}</div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="headerrow">
            <div class="cell">Non-Epic</div>
            <div class="cell">Status</div>
            <div class="cell" align="right">Hours</div>
            <div class="cell">Version</div>
            <div class="cellwrap">Summary</div>
        </div>

        {% if stories|length > 0 %}
            {% for story in stories %}
                <div class="row">
                    <div class="cell"><a href="{{ url_for('story', id=story.storykey) }}">{{story.storykey}}</a></div>
                    <div class="cell">{{story.storystatus}}</div>
                    <div class="cell" align="right">{{'{0:0.2f}'.format(story.storytime / 3600)}}</div>
                    <div class="cell">{{story.storyfixversion}}</div>
                    <div class="cellwrap">{{story.storysummary}}</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
